<h1><%= title %></h1>
<h2 id="signup-alert" style="color: #8b8b8b; width: 500px;"><% if( error === 'login_taken' ) { %>Identyfikator zajęty - spróbuj inny<% } else { %>Podaj identyfikator, którego chciałbyś używać w czyściwie.<% } %></h2>
<form action="/register/" method="post" id="sign-up-form">
  <input id="signup-user" type="text" name="user" placeholder="identyfikator" /><br />
  <input type="text" id="signup-email" name="email" placeholder="email (opcjonalnie)" style="border-color: #ccc;" /><br />
  <input id="signup-pass" type="password" name="pass" placeholder="hasło" /><br />
  <input id="signup-pas2" type="password" name="confirm" placeholder="potwierdź hasło" /><br /><br />
  <input type="submit" id="sign-up" value="Załóż konto" />
</form>

<script type="text/javascript">
  $('#sign-up-form').submit( function () { 
    var user = $('#signup-user').val();
    var pass = $('#signup-pass').val();
    var pas2 = $('#signup-pas2').val();
    
    $('.alert').removeClass('alert');

    if( !user ) {
      $('#signup-alert').html( "Brak nazwy użytkownika" );
      $('#signup-user').addClass( 'alert' ).focus();

      return false;
    } 
    if( !pass || !pas2 ) {
      $('#signup-alert').html( "Podaj hasło - dwa razy dla pewności!" );
      $('#signup-pass').val('').addClass( 'alert' ).focus();
      $('#signup-pas2').val('').addClass( 'alert' );

      return false;
    }
    else if( pass !== pas2 ) {
      $('#signup-alert').html( "Hasło się nie zgadzają - podaj jeszcze raz!" );
      $('#signup-pass').val('').addClass( 'alert' ).focus();
      $('#signup-pas2').val('').addClass( 'alert' );

      return false;  
    }
  });

</script>
