     <!-- <br /><a href="/user/<%= user %>" class="button" style="float: left; font-weight: bold; margin-left: 10px;">&lt;&lt; Powrót do profilu użytkownika</a>
    -->
      
      <h2 style="clear: both; margin-top: 0px; padding-top: 3px; float: left; margin-left: 10px; color: #5b5b7b;">
        Rejestr zabytków: <u><%= collection %></u> &nbsp; Wszystkich wyników: <u><%= count %></u>
      </h2>
      <img id="tools-icon" src="/img/tools_icon.png" alt="Narzędzia" style="float: right;"/>
      <div id="table-container">
      
        <!--  D A T A   T A B L E  -->
        <table id="data-table">
          <thead>
            <tr>
              <td class="relic" style="width: 115px">
                W rejestrze
              </td>
              <td class="relic">
                Województwo
              </td>
              <td class="relic">
                Powiat
              </td>
              <td class="relic">
                Gmina
              </td>
              <td class="relic">
                Miejscowość
              </td>
              <td class="relic">
                Ulica
              </td>
              <td class="relic">
                GPS
              </td>
              <td class="relic">
                Określenie obiektu
              </td>
              <td class="relic">
                Określenie zespołu
              </td>

              <td class="relic">
                Z kiedy?
              </td>
              <td style="border-left: 2px solid #888;" class="relic">
                <!-- Comments --> 
              </td>
              <td class="relic">
                <!-- Approved --> 
                <img src="/img/ikonka_approved.png" alt="K" />
              </td>
              <td class="relic">
                <!-- Approved --> 
                <img src="/img/ikonka_checked.png" alt="K" />
              </td>
            </tr>
          </thead>
          <tbody>
            <% for( var i in data ) { %>   
            <tr id="<%= data[i]['_id'] %>" data-approved="<% if( data[i]['approved'] ) { %><%= data[i]['approved'] %><% } %>" class="<% if( data[i]['approved'] ) { %>approved <% } if( data[i]['blocked'] ) { %>blocked<% } %>">
              <td class="editable" data-key="akt_nr_rej" style="width: 115px"><%= data[i]['akt_nr_rej'] %></td>
              <td class="editable" data-key="wojewodztwo"><%= data[i]['wojewodztwo'] %></td>
              <td class="editable" data-key="powiat"><%= data[i]['powiat'] %></td>
              <td class="editable" data-key="gmina"><%= data[i]['gmina'] %></td> 
              <td class="editable" data-key="miejscowosc"><%= data[i]['miejscowosc'] %></td>
              <td class="editable" data-key="ulica"><%= data[i]['ulica'] %></td>
              <td class="editable" data-key="geo1"><%= data[i]['geo1'] %></td>
              <td class="editable" data-key="okr_ob"><%= data[i]['okr_ob'] %></td>
              <td class="editable" data-key="okr_zes"><%= data[i]['okr_zes'] %></td> 
              <td class="editable" data-key="datowanie_ob"><%= data[i]['datowanie_ob'] %></td> 
              <td style="border-left: 2px solid #000; width: 50px">
                <% if( !!data[i]['comments'] ) { %>
                <span class="comment-count" style="font-size: 16px; margin-bottom: 5px; margin-right: 7px; font-weight: bold; color: #3b3b3b;"><%= data[i]['comments_count'] %></span>
                <img src="/img/comments.png" alt="K" />
                <% } else { %>
                <span class="comment-count" style="font-size: 16px; margin-bottom: 5px; margin-right: 7px; font-weight: normal; color: #3b3b3b;">0</span>
                <img class="empty" src="/img/comments.png" alt="K" />
                <% } %>
              </td>
              <td style="min-width: 25px"><input class="approve" type="checkbox" <% if( data[i]['blocked'] ) { %>disabled="true" <% } %> <% if( data[i]['approved'] ) { %>checked="true"<% } %>/></td>
              <td style="min-width: 25px"><input class="verify" type="checkbox" <% if( data[i]['blocked'] ) { %>disabled="true" <% } %> <% if( data[i]['verified'] ) { %>checked="true"<% } %>/></td>
            </tr>
            <% } %>
          </tbody>
        </table>

        <!--  T O O L S   P O P U P  --> 
        <div id="tools-popup">
          <header style="height: 48px">
            <img style="float: left; vertical-align: middle; margin-top: 12px; margin-right: 10px;" src="/img/white_user_icon.png" alt="" />
            <h1 style="vertical-align: top; float: left; color: #ccc; padding: 0px; margin: 0px;"><%= user %></h1>
            <a href="/logout/"><img id="logout-icon" src="/img/logout_icon.png" alt="Logout" style="vertical-align: middle; float: left; margin-top: 5px; margin-left: 10px;" /></a>
          </header>
          <div style="clear: both">
            <h2 data-name="tools-browser" class="tab active">Przeglądaj</h2>
            <h2 data-name="tools-expert" class="tab">Odpowiedzi</h2>
            <h2 data-name="tools-comments" class="tab">Komentarze</h2>
          </div>

          <div id="tools-browser" class="tools-panel active">
            <div style="float: left; width: 65%">
              <h2>Powiaty</h2>
              <table id="tools-browser" style="width: 100%; border: 0px;">
              </table>
            </div>
            <div style="float: right; width: 34%">
              <h2>Szukaj</h2>
              <form action="/page/1/search/" method="get" style="margin-left: 13px; float: left;">
                <input type="text" name="what" placeholder="Co?" />
                <input type="text" name="where" placeholder="Gdzie?" />
                <input type="submit" value="Szukaj" />
              </form>
              <br />

              <% if( expert ) { %>
              <h2>Odpowiedz na pytania</h2>
              <a href="/user/<%= user %>/panel/" class="button">przejdź do panelu eksperta &nbsp; <b>>></b></a>
              <div style="border-top: 1px solid #ccc; margin-top: 30px;"></div>
              <% } %>
            </div>
          </div>
          
          <div id="tools-expert" class="tools-panel">
            <h2>Pytania do eksperta</h2>
            <div style="overflow: auto;">
              <textarea id="tools-expert-question" style="width: 50%; border: 2px solid #00b7ff; padding: 5px;border-radius: 5px;float: left;" rows="8" ></textarea>
              <div style="float: right; width: 49%;">
              <div id="tools-expert-send" class="button" style="width: 100px; text-align: center;">Wyślij</div>
              <p style="background-color: #ddd; padding: 10px; border: 1px solid #aaa; color: #666; width: 75%">Jeśli twoje pytanie odnosi się do konkretnych wierszy, zaznacz je klikając w każdy z osobna. Nasz ekspert będzie mógł łatwiej i pełniej odnieść się do Twojego pytania.</p>
              </div>
            </div>
            <div style="margin-top: 20px; border-top: 1px dotted #999; clear: both">
              <div id="tools-expert-qa">
              </div>
            </div>
            
          </div>
          
          <div id="tools-comments" class="tools-panel">
            <h2>Sprawdzam czy są nowe komentarze...</h2>
          </div>
        </div>

      </div>
    <br />
    <% if( pagination.length !== 1 ) { %>
      <% if( !!prev_page ) { %><a href="<%= prev_page %>">Poprzednia strona</a> <% } %>
      <% for( var i = 0; i < pagination.length; ++i ) { if( page !== (i+1) ) { %> 
        &nbsp; <a href="<%= pagination[i] %>"><%= i+1 %></a>  &nbsp; 
      <% } else { %>
        &nbsp; <%= i+1 %> &nbsp; 
      <% } } %>
      <% if( !!next_page ) { %><a href="<%= next_page %>">Następna strona</a> <% } %>
    <% } %>

  <script src="/js/jquery-ui.js"></script>
  <script src="/js/jquery.fixedtableheader-1-0-2.min.js"> </script>
  <script src="/js/table.js"></script>
  <script type="text/javascript">
    var user = '<%= user %>';
    (function () {
      $('.tools-panel').not('.active').hide();
    })();
  </script>
  <style type="text/css">
    body {
      width: 100%;
    }
    #application {
      width: 98%;
    }
    #panel {
      overflow: visible;
    }
    #data-table {
      width: 100%;
    }
    table {
      border: 1px #3b3b3b solid;
    }
  </style>
