     <!-- <br /><a href="/user/<%= user %>" class="button" style="float: left; font-weight: bold; margin-left: 10px;">&lt;&lt; Powrót do profilu użytkownika</a>
    -->
      <!--<form action="/page/1/search/" method="get" style="margin-left: 25px; float: left;">
        <input type="text" name="what" placeholder="Co?" />
        <input type="text" name="where" placeholder="Gdzie?" />
        <input type="submit" value="Szukaj" />
      </form>-->
      
      <h2 style="clear: both; margin-top: 0px; padding-top: 3px; float: left; margin-left: 10px; color: #5b5b7b;">
        Rejestr zabytków: <u><%= collection %></u> &nbsp; Wszystkich wyników: <u><%= count %></u>
      </h2>
      <img id="tools-icon" src="/img/tools_icon.png" alt="Narzędzia" style="float: right;"/>
      <table id="data-table">
        <thead>
          <tr>
            <td class="relic">
              <!-- Approved --> 
            </td>
            <td class="relic">
              <!-- Comments --> 
            </td>
            <td class="relic">
              Miejscowość
            </td>
            <td class="relic">
              Ulica
            </td>
            <td class="relic">
              Województwo
            </td>
            <td class="relic">
              Powiat
            </td>
            <td class="relic">
              Gmina
            </td>
            <td class="relic">
              Określenie obiektu
            </td>
            <td class="relic">
              Określenie zespołu
            </td>

            <td class="relic">
              Z kiedy?
            </td>
            <td class="relic">
              W rejestrze
            </td>
          </tr>
        </thead>
        <tbody>
          <% for( var i in data ) { %>   
          <tr id="<%= data[i]['_id'] %>" class="<% if( data[i]['approved'] ) { %>approved <% } if( data[i]['blocked'] ) { %>blocked<% } %>">
            <td style="width: 25px"><input type="checkbox" <% if( data[i]['blocked'] ) { %>disabled="true"<% } %> <% if( data[i]['approved'] ) { %>checked="true"<% } %>/></td>
            <td style="width: 50px">
              <% if( !!data[i]['comments'] ) { %>
              <span class="comment-count" style="font-size: 16px; margin-bottom: 5px; margin-right: 7px; font-weight: bold; color: #3b3b3b;"><%= data[i]['comments_count'] %></span>
              <img src="/img/comments.png" alt="K" />
              <% } else { %>
              <span class="comment-count" style="font-size: 16px; margin-bottom: 5px; margin-right: 7px; font-weight: normal; color: #3b3b3b;">0</span>
              <img class="empty" src="/img/comments.png" alt="K" />
              <% } %>
            </td>
            <td class="editable" data-key="miejscowosc"><%= data[i]['miejscowosc'] %></td>
            <td class="editable" data-key="ulica"><%= data[i]['ulica'] %></td>
            <td class="editable" data-key="wojewodztwo"><%= data[i]['wojewodztwo'] %></td>
            <td class="editable" data-key="powiat"><%= data[i]['powiat'] %></td>
            <td class="editable" data-key="gmina"><%= data[i]['gmina'] %></td> 
            <td class="editable" data-key="okr_ob"><%= data[i]['okr_ob'] %></td>
            <td class="editable" data-key="okr_zes"><%= data[i]['okr_zes'] %></td> 
            <td class="editable" data-key="datowanie_ob"><%= data[i]['datowanie_ob'] %></td> 
            <td class="editable" data-key="akt_nr_rej"><%= data[i]['akt_nr_rej'] %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <br />
    <% if( !!prev_page ) { %><a href="<%= prev_page %>">Poprzednia strona</a> <% } %>
    <% for( var i = 0; i < pagination.length; ++i ) { if( page !== (i+1) ) { %> 
      &nbsp; <a href="<%= pagination[i] %>"><%= i+1 %></a>  &nbsp; 
    <% } else { %>
      &nbsp; <%= i+1 %> &nbsp; 
    <% } } %>
    <% if( !!next_page ) { %><a href="<%= next_page %>">Następna strona</a> <% } %>

  <script src="/js/jquery-ui.js"></script>
  <script src="/js/jquery.fixedtableheader-1-0-2.min.js"> </script>
  <script src="/js/table.js"> </script>
  <style type="text/css">
    body {
      width: 100%;
    }
    #application {
      width: 98%;
    }
    #data-table {
      width: 100%;
    }
    table {
      border: 1px #3b3b3b solid;
    }
  </style>
