<h1><%= user %></h1>
<hr />

<!--  L E F T   P A N E L  -->
<div style="width: 510px; float: left;">
  <h2>Z jakimi danymi się zmierzysz?</h2>
  <h3>Wyszukaj interesujących cię danych</h3>
  <form action="/search/" method="get">
    <input type="text" name="what" placeholder="Co?" />
    <input type="text" name="where" placeholder="Gdzie?" />
    <input type="submit" value="Szukaj" />
  </form>
  <h3>Przejrzyj zabytki w wybranym powiecie</h3>
  <table style="width: 500px; border: 0px;">
  <% for( var i in meta ) { %>
    <tr>
        <td><a id="<%= meta[i]['_id'] %>" class="button voivodship">Województwo <%= meta[i]['name'] %></a></td>
        <td><span style="margin-left: 10px;">Liczba zabytków: <%= meta[i]['count'] %></span></td>
        <td><span style="margin-left: 10px;">Poprawionych: <%= meta[i]['edited'] %></span></td>
    </tr>

    <% for( var j in meta[i]['powiats'] ) { %>
      <tr style="margin-bottom: 10px;" class="poviats <%= meta[i]['_id'] %>">
        <td style="padding-left: 20px;"><a href="/search/<%= meta[i]['powiats'][j]['name'] %>" class="button">
          Powiat <%= meta[i]['powiats'][j]['name'] %> <b>&gt;&gt;</b>
        </a></td>
        <td><span style="margin-left: 10px;">Liczba zabytków: <%= meta[i]['powiats'][j]['count'] %></span></td>
        <td><span style="margin-left: 10px;">Poprawionych: <%= meta[i]['powiats'][j]['edited'] %></span></td>
      </tr>
    
    <% } %>
  <% } %>
  </table>

</div>

<!--  R I G T H   P A N E L  -->
<div style="float: right; width: 400px;">
<% if( rows_count === 0 ) { %>
  <h2>Jeszcze nie ma twoich edycji - czas zacząć!!</h2>
<% } else { %>
  <h2>Dotychczas poprawiłeś <span style="text-decoration: underline;"><%= rows_count %></span> wierszy.</h2> 
  <h3>Ostatnio poprawione to:</h2>
  <ul id="approved_rows">
    <% var limit = rows_list.length < 10 ? rows_list.length : 10; for( var i = 1; i <= limit; ++i ) { %>
      <li><%= rows_list[rows_list.length-i] %></li>
    <% } %>
  </ul>
<% } %>

<hr />

<% if( comments_count === 0 ) { %>
  <h2>Nic nie zostało przez ciebie skomentowane...</h2> 
<% } else { %>
  <h2>Twoje komentarze:</h2> 
  <ul id="comments_list">
    <% for( var i in comments_list ) { %>
    <li data-id="<%= comments_list[i]['id'] %>" style="margin-bottom: 12px;">
      <span style="color: #888;"><%= comments_list[i]['parish'] %> :: <%= comments_list[i]['name'] %></span><br />
      <%= comments_list[i]['text'] %>
    </li>
    <% } %>
  </ul>
<% } %>
</div>

<script type="text/javascript">
  $('.poviats').hide();

  $('.voivodship').click( function () {
    var id = $(this).attr('id');
    $('.'+id).toggle();
  });

  $('#comments_list').find('li').each( function ( i ) {
    if( i >= 5 ) {
      $(this).hide();
    }
  });

  $('#comments_list > li').click( function () {
    $.ajax({
      url: '/get_comments/',
      type: 'GET',
      data: {
        id: $(this).attr('data-id')
      },
      success: function ( received_data ) {
        var received = JSON.parse( received_data );
        var html = [];

        html.push( '<div id="comments-panel">' );
        if( received['data'].length !== 0 ) {
            received['data'].forEach( function ( e ) {
                html.push( '<p style="color: #8b8b8b; font-size: 14px;">' + e['user'] + '</p>' );
                html.push( '<p style="margin-left: 10px">' + e['text'] + '</p>' );
            });
        }
        else {
            html.push( '<h3>Brak komentarzy</h3>' );
        }
        html.push( '<hr />' );
        html.push( '<h3>Twój komentarz</h3>' );
        html.push( '<textarea id="'+ received['id'] +'" name="comment_text" style="height: 100px; width: 250px;">' );
        html.push( '</textarea>' );
        html.push( '<div id="add-comment" class="comment-button button">Dodaj</div>' );
        html.push( '<div id="cancel-comment" class="comment-button button">Anuluj</div>' );
        html.push( '</div>' );

        $('body').append( html.join('') );

        var x = $(window).width() / 2 - 125; 
        $('#comments-panel').css({ 'left': x, 'border-radius': '5px' });
        $('#add-comment').click( function () {
            $.ajax({
                url: '/comment/',
                type: 'POST',
                data: {
                    id: $('textarea').attr('id'),
                    text: $('textarea').val()
                },
                success: function () {
                    $('#comments-panel').remove();
                }
            });
        });

        $('#cancel-comment').click( function () {
            $('#comments-panel').remove();
        });
      }
    });
  });

</script>
<style type="text/css">
  tr:hover {
    background-color: #eee !important;
  }
  .button {
    background-color: #e3e3e3;
  }
</style>
