h1 {
  margin: 10px 0px; 
  font-size: 34px;
}

.button {
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #00b7ff;
  color: #5b5b5b;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #00b7ff;
  color: #fff;
}

ul {
  list-style-type: none;
  margin-left: -40px;
}

li {
  margin-bottom: 10px;
}

.poviats {
  margin-top: 10px;
  margin-left: -15px;
}

#register-form > input {
  padding: 3px;
  margin-bottom: 3px;
}

img:hover {
  cursor: pointer;
}

#comments-panel {
  width: 250px; 
  position: fixed; 
  top: 10px; 
  left: -2px;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #5b5b5b;
  background-color: #e5e5e5;
}

.comment-button {
  margin-top: 10px; 
  margin-left: 5px;
  float: right; 
  width: 50px; 
  text-align: center;
}

.right {
  float: right;
}
