body {
  background-color: #8B8B8B;
  font-family: Arial,sans-serif;
  font-size: 11px;
  cursor: default;
  width: 960px;
  margin: 0 auto;
  color: #1f1f1f;
  position: relative;
}

#application {
    overflow: visible;
    width: 650px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    background-color: white;
    display: block;
    opacity: 1;
}

#panel {
    overflow: visible;
    padding: 5px 10px;
    clear: both;
    background-color: #E3E3E3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  font-family: 'Jockey One', sans-serif; 
/*  font-family: 'Ubuntu Condensed', sans-serif; */
  font-weight: normal;
}

table {
    font-size: 1em;
    width: 1120px;
    margin: 0 auto;
    border-collapse: collapse;
}

tbody > tr:hover {
  background-color: #ccccdd;
}


thead > tr, #fixedtableheader1 > tbody > tr  {
    background: black;
    color: white;
}


td {
    border-right: 1px solid #8B8B8B;
    padding: 8px;
    border-collapse: collapse;
}


.even {
    background-color: #EEE;
}

input {
  border-radius: 3px;
  border: 1px solid #00b7ff;
  margin: 3px;
  padding: 3px;
}

input.alert {
  border-color: #90383a;
}

input[type="submit"]:hover {
  cursor: pointer;
  color: #007bff !important;
}

.unapproved {
  color: #1f1f1f;
}
.approved {
  color: #999;
}

.blocked {
  color: #bbb;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#comments_list > li {
  padding: 3px 5px;
}

#comments_list > li:hover {
  cursor: pointer;
  background-color: #eee;
}

.empty {
  opacity: 0.3;
}

.clear {
  clear: both;
}

#table-container {
  overflow: visible;
  clear: both;
  position: relative;
}

#tools-popup {
  overflow: visible;
  position: absolute;
  top: 0px;
  right:0px;
  background-color: #fff;
  width: 666px;
  min-height: 300px;
  border: 2px solid #5b5b5b;
  border-radius: 5px;
  padding: 10px;
}

#expert-table-popup {
  position: absolute;
  background-color: #8b8b8b;
  padding: 10px;
  border: 3px solid #3b3b3b;
  border-radius: 5px;
}

.tab {
  float: left;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0px 0px;
  margin: 0px;
  margin-right: 5px;
}

.tab:hover {
  background-color: #eee;
  cursor: pointer;
}
.tab.active {
  background-color: #ccc;
}
.tab.active:hover {
  background-color: #ccc;
  cursor: default;
}

.tools-panel {
  clear: both;
  overflow: auto;
  padding: 15px;
  background-color: #ccc;
}

.selected {
  background-color: #F3E58A !important;
}
